body{
    background-image: url(lion.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1, h3, p2, pre{
    color: antiquewhite;
}

.container{
    height: 400px;
    overflow: scroll;
    border: 2px solid;
    background-image: url(ford.jpg);
    /* background-repeat: repeat; */
    /* height: 50vh; */
}

h1{
    margin: 10px;
} 
