body{
            background-color: aquamarine;
        }
        
        /* p{
            color: black;
        } */
        #p1{
            color: red;
        }
         #p2{
            color: blue;
        }
         #p3{
            color: green;
        } 
        /* .even{
            color: orange
        }
        .odd{
            color: purple
        } */

